piper-tts
webrtcvad
ipywidgets

mutagen==1.47.0
torchinfo==1.8.0
torchmetrics==1.2.0
speechbrain==0.5.14

audiomentations==0.33.0
torch-audiomentations==0.11.0
acoustics==0.2.6

tensorflow-cpu==2.20.0
tensorflow_probability==0.25.0
onnx_tf==1.10.0

pronouncing==0.2.0
deep-phonemizer==0.0.19

datasets==4.4.2
ml-dtypes==0.5.4
numpy==2.3.5
scipy
tqdm
librosa
soundfile
pyyaml
